body{
    background-size: cover;
}
.heading{
    width: 100%;
    font-weight: bolder;
    margin: 0px;
}
.copyright_footer{
    background-color: gray;
    color: white;
    text-align: center;
    position:fixed;
    bottom: 0;
    width:100%;
}